<app-content-card *ngFor="let item of contentList; first as isFirstContentOnList"
[class.first-content]="isFirstContentOnList" [content]="item"></app-content-card>

<app-content-card *ngFor="let item of contentList | contentFilter; first as isFirstContentOnList"
[class.first-content]="isFirstContentOnList" [content]="item"></app-content-card>

<app-content-card *ngFor="let item of contentList | typewithvalueFilter; first as isFirstContentOnList"
[class.first-content]="isFirstContentOnList" [content]="item"></app-content-card>
