
<app-content-card *ngFor="let item of (contentList | typewithvalueFilter); first as isFirstContentOnList"
[class.first-content]="isFirstContentOnList" [contentItem]="item"></app-content-card>

<app-content-card *ngFor="let item of (contentList | typewithvalueFilter: 'Bread'); first as isFirstContentOnList"
[class.first-content]="isFirstContentOnList" [contentItem]="item"></app-content-card>

<app-content-card *ngFor="let item of (contentList | typewithvalueFilter: 'Meat'); first as isFirstContentOnList"
[class.first-content]="isFirstContentOnList" [contentItem]="item"></app-content-card>
