<div>
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Select an id number to display</mat-label>
        <input matInput placeholder="0" type="number" #id>
    </mat-form-field>
    <button mat-flat-button color="accent" (click)="displayFoodItem(id.value)">Display Food Item</button>
</div>


<!--
<div class="container">
    <div class="search">
        <mat-form-field>
        <mat-label>Select an id number to display: </mat-label>
        <input matInput type="number" #id>
        </mat-form-field>
    </div>
    <button mat-raised-button (click)="displayContentItem(id.value)">Display Food Item</button>
</div>
<app-content-card [contentItem]="someItem" class="single-item-on-app-component"></app-content-card>

<button mat-raised-button click="openDialog()">Open Dialog</button>
-->
<mat-divider></mat-divider>
<app-content-list></app-content-list>

<app-message></app-message>


