<div>
    ID: <input [(ngModel)]="tempId">
</div>

<div>
    Title: <input [(ngModel)]="newContent.title">
</div>
<div>
    Description: <input [(ngModel)]="newContent.description">
</div>
<div>
    Creator: <input [(ngModel)]="newContent.creator">
</div>
<div>
    Image: <input [(ngModel)]="newContent.imgURL">
</div>
<div>
    Type: <input [(ngModel)]="newContent.type">
</div>
<div>
    Tags: <input [(ngModel)]="newContent.tags">
</div>
<div>
    <button (click)="addContentFromChild()">{{tempId === "" ? "Add New Movie" : "Update existing movie"}}</button>
</div>