<div>
    id (ONLY FOR UPDATING): <input #id>
</div>

<div>
    title: <input #title>
</div>
<div>
    description: <input #description>
</div>
<div>
    creator: <input #creator>
</div>
<div>
    image: <input #imgURL>
</div>
<div>
    type: <input #type>
</div>
<div>
    tags: <input #tags>
</div>
<div>
    <button (click)="addContent(title.value, description.value, creator.value, imgURL.value, type.value, tags.value)">Add Content Item</button>
    <button (click)="updateContent(id.value, title.value, description.value, creator.value, imgURL.value, type.value, tags.value)">Update Content Item</button>
</div>