<a mat-flat-button color="warn" routerLink="/dontClickthelink">Don't click this link!</a>


<app-modify-content-component (newContentEvent)="addContentToList($event)"></app-modify-content-component>



<div class="search">
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Food Item Title</mat-label>
        <input matInput #search>
    </mat-form-field>
    <button mat-flat-button color="primary" (click) = "checkForTitle(search.value)">Check for Title</button>
    <h4 class="success" *ngIf="searchFlag">Title found</h4>
    <h4 class="fail" *ngIf="!searchFlag">Title not found</h4>
</div>
<!--
<app-content-card *ngFor="let item of contentList;" [contentItem]="item" [class.found]="item.title == search.value"></app-content-card>
-->


<app-content-card appHoverAffect elementType="card" [firstOrLast]="isFirstContentOnList || isLast"
*ngFor="let item of (contentList | typewithvalueFilter); first as isFirstContentOnList; last as isLast"
[class.first-content]="isFirstContentOnList" [contentItem]="item" class="notype" [class.found]="item.title == search.value"></app-content-card>

<app-content-card appHoverAffect elementType="card" [firstOrLast]="isFirstContentOnList || isLast"
*ngFor="let item of (contentList | typewithvalueFilter: 'Bread'); first as isFirstContentOnList; last as isLast"
[class.first-content]="isFirstContentOnList" [contentItem]="item" class="bread" [class.found]="item.title == search.value"></app-content-card>

<app-content-card appHoverAffect elementType="card" [firstOrLast]="isFirstContentOnList || isLast"
*ngFor="let item of (contentList | typewithvalueFilter: 'Meat'); first as isFirstContentOnList; last as isLast"
[class.first-content]="isFirstContentOnList" [contentItem]="item" class="meat" [class.found]="item.title == search.value"></app-content-card>

<app-content-card appHoverAffect elementType="card" [firstOrLast]="isFirstContentOnList || isLast"
*ngFor="let item of (contentList | typewithvalueFilter: 'Vegetable'); first as isFirstContentOnList; last as isLast"
[class.first-content]="isFirstContentOnList" [contentItem]="item" class="vegetable" [class.found]="item.title == search.value"></app-content-card>
