h2{
    color: #A80000;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

.clear {
    color: #333;
    background-color: #eee;
    margin-top: 3px;
    margin-bottom: 6px;
    padding: 0.5rem;
    border-radius: 4px;
    font-size: 0.8rem;
}

.clear:hover{
    color: white;
    background-color: #42545c;
}

:host > div.message-wrapper {
    position: fixed;
    bottom: 32px;
    right: 32px;
    border: 1px solid #00000099;
    padding: 16px;
    background-color: #fff;
    border-radius: 10px;
}
:host > div.message-wrapper h2{
    margin-top: 0;
}
:host > div.message-wrapper div{
    margin-top: 16px;
}