:host{
    border: 1px solid #0000ff;
    display: block;
    margin: 16px auto;
    padding: 8px;
    width: 500px;
    text-align: center;
}

:host.first-content{
    border: 2px solid #000;
}
:host.notype{
    background-color: darksalmon;
}
:host.bread{
    background-color: #f5deb3;
}
:host.meat{
    background-color: #f9906f;
}
:host.vegetable{
    background-color: #abab9a;
}

:host.found{
    border-color: green;
    border-width: 5px;
}

.image{
    width: 300px;
}

.tag{
    display: inline-block;
    border-radius: 10px;
    border: 1px solid #ff0000;
    background-color: aqua;
    margin: 8px;
    padding: 8px;
}