<h3 appHoverAffect class="title">
    {{contentItem?.title}}
</h3>

<img (click)="imageClicked()" *ngIf="contentItem?.imgURL; else noImage" 
 class="image" [src]="contentItem?.imgURL">
 <ng-template #noImage>
    <img class="image" src = "https://image.shutterstock.com/z/stock-photo-group-picture-of-chinese-cuisine-653854594.jpg">
 </ng-template>
 
 <p> Description: {{ contentItem?.description}}</p>

<div class="meta-data">
    <div class="creator">
        Creator: {{contentItem?.creator}}
    </div>
    
    <div *ngIf="contentItem?.type" class="contentItem?.type">
        Type: {{ contentItem?.type}}
    </div>
    <div class="tags" *ngIf="contentItem?.tags">
        <span class="tag" *ngFor="let tag of contentItem?.tags">
            #{{tag}}
        </span>   
    </div>
</div>
