:host{
  //  border: 1px solid #0000ff;
    display: block;
    margin: 16px auto;
  //  padding: 8px;
    width: 500px;
    text-align: center;


mat-card {
    border: 1px solid #0000ff;
}

&.first-contentItem mat-card {
    border: 6px solid #000;
}

&.notype mat-card {
    background-color: darksalmon;
}
&.bread mat-card {
    background-color: dodgerblue;
}

&.meat mat-card {
    background-color: chartreuse;
}

&.vegetable mat-card {
    background-color: grey;
}

&.found mat-card {
    border-color: green;
    border-width: 5px;
}

&.single-item-on-app-component mat-card {
    box-shadow: 5px 10px #88888899;
}
}

/*
:host.first-content{
    border: 2px solid #000;
    box-shadow: 5px 10px red;
}
:host.notype{
    background-color: darksalmon;
}
:host.bread{
    background-color: #f5deb3;
}
:host.meat{
    background-color: #f9906f;
}
:host.vegetable{
    background-color: #abab9a;
}

:host.found{
    border-color: green;
    border-width: 5px;
}

:host.single-item-on-app-component {
    box-shadow: 5px 10px #88888899;
}
*/
.image{
    width: 300px;
    
}

.tag{
    display: inline-block;
    border-radius: 10px;
    border: 1px solid #ff0000;
    background-color: aqua;
    margin: 8px;
    padding: 8px;
}
